# [PCCE 기출문제] 10번

[링크](https://school.programmers.co.kr/learn/courses/30/lessons/250121)

## 문제 설명

AI 엔지니어인 현식이는 데이터를 분석하는 작업을 진행하고 있습니다. 데이터는 ["코드 번호(code)", "제조일(date)", "최대 수량(maximum)", "현재 수량(remain)"]으로 구성되어 있으며 현식이는 이 데이터들 중 조건을 만족하는 데이터만 뽑아서 정렬하려 합니다.

예를 들어 다음과 같이 데이터가 주어진다면

```python
data = [[1, 20300104, 100, 80], [2, 20300804, 847, 37], [3, 20300401, 10, 8]]
```

이 데이터는 다음 표처럼 나타낼 수 있습니다.

| code | date     | maximum | remain |
| ---- | -------- | ------- | ------ |
| 1    | 20300104 | 100     | 80     |
| 2    | 20300804 | 847     | 37     |
| 3    | 20300401 | 10      | 8      |

주어진 데이터 중 "제조일이 20300501 이전인 물건들을 현재 수량이 적은 순서"로 정렬해야 한다면 조건에 맞게 가공된 데이터는 다음과 같습니다.

```python
data = [[3,20300401,10,8],[1,20300104,100,80]]
```

정렬한 데이터들이 담긴 이차원 정수 리스트 `data`와 어떤 정보를 기준으로 데이터를 뽑아낼지를 의미하는 문자열 `ext`, 뽑아낼 정보의 기준값을 나타내는 정수 `val_ext`, 정보를 정렬할 기준이 되는 문자열 `sort_by`가 주어집니다.

**`data`에서 `ext` 값이 `val_ext`보다 작은 데이터만 뽑은 후, `sort_by`에 해당하는 값을 기준으로 오름차순으로 정렬**하여 return 하도록 solution 함수를 완성해 주세요. 단, 조건을 만족하는 데이터는 항상 한 개 이상 존재합니다.

## 제한사항

- 1 ≤ `data` 의 길이 ≤ 500
  - `data[i]`의 원소는 [코드 번호(code), 제조일(date), 최대 수량(maximum), 현재 수량(remain)] 형태입니다.
  - 1 ≤ 코드 번호≤ 100,000
  - 20000101 ≤ 제조일≤ 29991231
  - `data[i][1]`은 yyyymmdd 형태의 값을 가지며, 올바른 날짜만 주어집니다. (yyyy : 연도, mm : 월, dd : 일)
  - 1 ≤ 최대 수량≤ 10,000
  - 1 ≤ 현재 수량≤ 최대 수량

- `ext`와`sort_by` 의 값은 다음 중 한 가지를 가집니다.
  - "code", "date", "maximum", "remain"
  - 순서대로 코드 번호, 제조일, 최대 수량, 현재 수량을 의미합니다.

- `val_ext`는 `ext`에 따라 올바른 범위의 숫자로 주어집니다.

- 정렬 기준에 해당하는 값이 서로 같은 경우는 없습니다.

## 입출력 예

| data                                                         | ext    | val_ext  | sort_by  | result                                  |
| ------------------------------------------------------------ | ------ | -------- | -------- | --------------------------------------- |
| [[1, 20300104, 100, 80], [2, 20300804, 847, 37], [3, 20300401, 10, 8]] | "date" | 20300501 | "remain" | [[3,20300401,10,8],[1,20300104,100,80]] |

## 입출력 예 설명

입출력 예 #1

- 본문의 내용과 동일합니다.

## 추가사항

- cpp를 응시하는 경우 리스트는 배열과 동일한 의미이니 풀이에 참고해주세요.
  - ex) 번호가 담긴 정수 **리스트** `numbers`가 주어집니다. => 번호가 담긴 정수 **배열** `numbers`가 주어집니다.
- java를 응시하는 경우 리스트는 배열, 함수는 메소드와 동일한 의미이니 풀이에 참고해주세요.
  - ex) solution **함수**가 올바르게 작동하도록 한 줄을 수정해 주세요. => solution **메소드**가 올바르게 작동하도록 한 줄을 수정해 주세요.

## 정답

In [16]:
def solution(data, ext, val_ext, sort_by):
    import pandas as pd

    data_df = pd.DataFrame(data)
    data_df.columns = ["code", "date", "maximum", "remain"]
    # 조건에 맞는 값만 골라내기
    data_df = data_df[data_df[ext] < val_ext]
    # 정력
    data_df = data_df.sort_values(by=sort_by)
    # 데이터프레임을 리스트화
    answer = data_df.to_numpy().tolist()
    
    return answer

In [17]:
data = [[1, 20300104, 100, 80], [2, 20300804, 847, 37], [3, 20300401, 10, 8]]
ext = "date"
val_ext = 20300501
sort_by = "remain"

solution(data, ext, val_ext, sort_by)

[[3, 20300401, 10, 8], [1, 20300104, 100, 80]]

## 연습

In [1]:
# 변수
data = [[1, 20300104, 100, 80], [2, 20300804, 847, 37], [3, 20300401, 10, 8]]
ext = "date"
val_ext = 20300501
sort_by = "remain"

In [3]:
import pandas as pd

data_df = pd.DataFrame(data)
data_df.columns = ["code", "date", "maximum", "remain"]
data_df

   code      date  maximum  remain
0     1  20300104      100      80
1     2  20300804      847      37
2     3  20300401       10       8

In [8]:
ext_data_df = data_df[data_df[ext] < val_ext]
ext_data_df

   code      date  maximum  remain
0     1  20300104      100      80
2     3  20300401       10       8

In [9]:
ext_data_df = ext_data_df.sort_values(by=sort_by)
ext_data_df

   code      date  maximum  remain
2     3  20300401       10       8
0     1  20300104      100      80

In [15]:
ext_data_df.to_numpy().tolist()

[[3, 20300401, 10, 8], [1, 20300104, 100, 80]]

## 다른사람 풀이

In [ ]:
def solution(data, ext, val_ext, sort_by):
    case={'code':0,'date':1,'maximum':2,'remain':3}
    print(case.get(ext))
    newData=[]
    for singleData in data:
        if singleData[case.get(ext)]<val_ext:
            newData.append(singleData)
    return sorted(newData,key=lambda x:x[case.get(sort_by)])